<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>徽章</string>
		<string>纪念币</string>
		<string>奖牌</string>
		<string>姓名牌</string>
		<string>胸针</string>
		<string>书签</string>
		<string>车标</string>
		<string>铭牌</string>
		<string>门牌</string>
		<string>授权牌</string>
		<string>奖杯</string>
		<string>印章</string>
		<string>车贴</string>
		<string>不干胶</string>
		<string>奖章</string>
		<string>首饰</string>
	</array>
	<array>
		<string>锌合金</string>
		<string>铜合金</string>
		<string>铁合金</string>
		<string>铝合金</string>
		<string>不锈钢</string>
		<string>不锈铁</string>
		<string>亚克力</string>
		<string>ABS塑料</string>
		<string>贴纸</string>
		<string>水晶</string>
		<string>软硅胶</string>
		<string>PVC背胶</string>
		<string>不干胶</string>
		<string>马口铁</string>
		<string>三维软标</string>
		<string>软硅胶</string>
		<string>纯金</string>
		<string>纯银</string>
		<string>木制金箔</string>
		<string>925银</string>
		<string>18K金</string>
		<string>24K金</string>
		<string>薄金属</string>
		<string>绒布</string>
	</array>
	<array>
		<string>无</string>
		<string>蝴蝶扣</string>
		<string>别针</string>
		<string>PVC别针</string>
		<string>平顶扣</string>
		<string>磁扣</string>
		<string>钥匙链</string>
		<string>袖扣</string>
		<string>领带夹</string>
		<string>塑料帽</string>
		<string>旋转件</string>
		<string>组合件</string>
		<string>带滑块</string>
		<string>带铰链</string>
		<string>标准彩带</string>
		<string>定制彩带</string>
		<string>带弹簧</string>
		<string>背胶</string>
		<string>螺杆</string>
		<string>高卡扣</string>
	</array>
	<array>
		<string>无</string>
		<string>双面开模</string>
		<string>2D冲压</string>
		<string>2D压铸</string>
		<string>2D液压</string>
		<string>3D冲压</string>
		<string>3D压铸</string>
		<string>3D液压</string>
		<string>浇铸</string>
		<string>模切</string>
	</array>
	<array>
		<string>无</string>
		<string>柯氏</string>
		<string>纯色电镀</string>
		<string>镶钻</string>
		<string>腐蚀</string>
		<string>烤漆</string>
		<string>仿珐琅</string>
		<string>滴胶</string>
		<string>贴纸</string>
		<string>珐琅印</string>
		<string>金葱粉</string>
		<string>夜光漆</string>
		<string>透明漆</string>
		<string>背模</string>
		<string>刻字</string>
		<string>镶边</string>
		<string>抛光</string>
		<string>丝印</string>
		<string>喷绘</string>
	</array>
	<array>
		<string>无</string>
		<string>金色</string>
		<string>银色(镍)</string>
		<string>古青铜</string>
		<string>古红铜</string>
		<string>浅金色</string>
		<string>古银色</string>
		<string>黑镍色</string>
		<string>黑漆</string>
		<string>玫瑰金</string>
	</array>
</array>
</plist>
