<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>统计事务</string>
		<key>navId</key>
		<integer>100</integer>
		<key>navPid</key>
		<integer>0</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>业务处理</string>
		<key>navId</key>
		<integer>113</integer>
		<key>navPid</key>
		<integer>0</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>业务流程</string>
		<key>navId</key>
		<integer>24</integer>
		<key>navPid</key>
		<integer>0</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/allOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/allOrder_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>全部订单</string>
		<key>navId</key>
		<integer>48</integer>
		<key>navPid</key>
		<integer>24</integer>
		<key>select</key>
		<integer>1</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/inqueryOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/inqueryOrder_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>咨询订单</string>
		<key>navId</key>
		<integer>25</integer>
		<key>navPid</key>
		<integer>24</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/designOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/designOrder_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>设计订单</string>
		<key>navId</key>
		<integer>26</integer>
		<key>navPid</key>
		<integer>24</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/waitforproduce.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/waitforproduce_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>待生产单</string>
		<key>navId</key>
		<integer>27</integer>
		<key>navPid</key>
		<integer>24</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/producing.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/producing_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>生产订单</string>
		<key>navId</key>
		<integer>28</integer>
		<key>navPid</key>
		<integer>24</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/issueOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/issueOrder_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>售后问题</string>
		<key>navId</key>
		<integer>120</integer>
		<key>navPid</key>
		<integer>24</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/finishedOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/finishedOrder_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>已完成订单</string>
		<key>navId</key>
		<integer>29</integer>
		<key>navPid</key>
		<integer>24</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>未询价</string>
		<key>navId</key>
		<integer>30</integer>
		<key>navPid</key>
		<integer>25</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待报价</string>
		<key>navId</key>
		<integer>31</integer>
		<key>navPid</key>
		<integer>25</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>已报价</string>
		<key>navId</key>
		<integer>32</integer>
		<key>navPid</key>
		<integer>25</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>议价未反馈</string>
		<key>navId</key>
		<integer>33</integer>
		<key>navPid</key>
		<integer>25</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>议价未达成</string>
		<key>navId</key>
		<integer>34</integer>
		<key>navPid</key>
		<integer>25</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>议价已达成</string>
		<key>navId</key>
		<integer>35</integer>
		<key>navPid</key>
		<integer>25</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>已定价</string>
		<key>navId</key>
		<integer>36</integer>
		<key>navPid</key>
		<integer>25</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>已支付</string>
		<key>navId</key>
		<integer>37</integer>
		<key>navPid</key>
		<integer>25</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待设计</string>
		<key>navId</key>
		<integer>38</integer>
		<key>navPid</key>
		<integer>26</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>设计中</string>
		<key>navId</key>
		<integer>39</integer>
		<key>navPid</key>
		<integer>26</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待定稿</string>
		<key>navId</key>
		<integer>40</integer>
		<key>navPid</key>
		<integer>26</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>已定稿</string>
		<key>navId</key>
		<integer>41</integer>
		<key>navPid</key>
		<integer>26</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待分配生产</string>
		<key>navId</key>
		<integer>42</integer>
		<key>navPid</key>
		<integer>27</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待生产接单</string>
		<key>navId</key>
		<integer>43</integer>
		<key>navPid</key>
		<integer>27</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>生产中</string>
		<key>navId</key>
		<integer>44</integer>
		<key>navPid</key>
		<integer>28</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待发货</string>
		<key>navId</key>
		<integer>45</integer>
		<key>navPid</key>
		<integer>28</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>邮寄中</string>
		<key>navId</key>
		<integer>46</integer>
		<key>navPid</key>
		<integer>28</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/serviceStatistic.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/serviceStatistic_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>客服统计</string>
		<key>navId</key>
		<integer>107</integer>
		<key>navPid</key>
		<integer>100</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/managerStatistics.html?roleId=1</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/designerStatistic.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/designerStatistic_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>设计统计</string>
		<key>navId</key>
		<integer>108</integer>
		<key>navPid</key>
		<integer>100</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/managerStatistics.html?roleId=2</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/factoryStatistic.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/factoryStatistic_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>车间统计</string>
		<key>navId</key>
		<integer>109</integer>
		<key>navPid</key>
		<integer>100</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/managerStatistics.html?roleId=3</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/followStatistic.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/followStatistic_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>客服跟单</string>
		<key>navId</key>
		<integer>110</integer>
		<key>navPid</key>
		<integer>100</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/managerStatistics.html?roleId=c1</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/auditStatistic.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/auditStatistic_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>抽查统计</string>
		<key>navId</key>
		<integer>111</integer>
		<key>navPid</key>
		<integer>100</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/managerStatistics.html?roleId=c2</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/wechatStatistic.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/manager/wechatStatistic_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>微信统计</string>
		<key>navId</key>
		<integer>112</integer>
		<key>navPid</key>
		<integer>100</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/managerStatistics.html?roleId=weixin</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>订单管理</string>
		<key>navId</key>
		<integer>103</integer>
		<key>navPid</key>
		<integer>101</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/orderManager.html</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>开票据</string>
		<key>navId</key>
		<integer>104</integer>
		<key>navPid</key>
		<integer>101</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/invoiceList.html</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>收益结算</string>
		<key>navId</key>
		<integer>105</integer>
		<key>navPid</key>
		<integer>101</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string>./CustomerService/thingHandle.html</string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>客户管理</string>
		<key>navId</key>
		<integer>106</integer>
		<key>navPid</key>
		<integer>101</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/notquoteyet.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/notquoteyet_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>订单报价</string>
		<key>navId</key>
		<integer>161</integer>
		<key>navPid</key>
		<integer>113</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/modifyAddress.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/modifyAddress_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>修改地址</string>
		<key>navId</key>
		<integer>114</integer>
		<key>navPid</key>
		<integer>113</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/transferOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/transferOrder_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>转接订单</string>
		<key>navId</key>
		<integer>115</integer>
		<key>navPid</key>
		<integer>113</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/followOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/followOrder_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>经理跟单</string>
		<key>navId</key>
		<integer>116</integer>
		<key>navPid</key>
		<integer>113</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/followOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/followOrder_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>客服跟单</string>
		<key>navId</key>
		<integer>117</integer>
		<key>navPid</key>
		<integer>113</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/shipToday.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/shipToday_selected.png</string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>今日发货</string>
		<key>navId</key>
		<integer>118</integer>
		<key>navPid</key>
		<integer>113</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/issueOrder.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/issueOrder_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>问题订单</string>
		<key>navId</key>
		<integer>119</integer>
		<key>navPid</key>
		<integer>113</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/dealAffairs.png</string>
		<key>iconurl2</key>
		<string>zhibao2bj-1255653994.cos.ap-beijing.myqcloud.com/icon/servicer/dealAffairs_selected.png</string>
		<key>isLast</key>
		<integer>0</integer>
		<key>name</key>
		<string>事务处理</string>
		<key>navId</key>
		<integer>101</integer>
		<key>navPid</key>
		<integer>113</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>客服转单</string>
		<key>navId</key>
		<integer>121</integer>
		<key>navPid</key>
		<integer>115</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>设计转单</string>
		<key>navId</key>
		<integer>122</integer>
		<key>navPid</key>
		<integer>115</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>车间转单</string>
		<key>navId</key>
		<integer>123</integer>
		<key>navPid</key>
		<integer>115</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待跟大单</string>
		<key>navId</key>
		<integer>124</integer>
		<key>navPid</key>
		<integer>116</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>我的跟单</string>
		<key>navId</key>
		<integer>125</integer>
		<key>navPid</key>
		<integer>116</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>在跟大单</string>
		<key>navId</key>
		<integer>126</integer>
		<key>navPid</key>
		<integer>116</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>无需跟单</string>
		<key>navId</key>
		<integer>127</integer>
		<key>navPid</key>
		<integer>116</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>今日跟单</string>
		<key>navId</key>
		<integer>128</integer>
		<key>navPid</key>
		<integer>117</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>计划跟单</string>
		<key>navId</key>
		<integer>129</integer>
		<key>navPid</key>
		<integer>117</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待确认跟单</string>
		<key>navId</key>
		<integer>130</integer>
		<key>navPid</key>
		<integer>117</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>报价问题</string>
		<key>navId</key>
		<integer>131</integer>
		<key>navPid</key>
		<integer>119</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>设计问题</string>
		<key>navId</key>
		<integer>132</integer>
		<key>navPid</key>
		<integer>119</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>生产问题</string>
		<key>navId</key>
		<integer>133</integer>
		<key>navPid</key>
		<integer>119</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>查件申请</string>
		<key>navId</key>
		<integer>134</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待处理申请</string>
		<key>navId</key>
		<integer>135</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>已驳回申请</string>
		<key>navId</key>
		<integer>136</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待录入方案</string>
		<key>navId</key>
		<integer>137</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>方案待确认</string>
		<key>navId</key>
		<integer>138</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>方案已拒绝</string>
		<key>navId</key>
		<integer>139</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>待退货</string>
		<key>navId</key>
		<integer>140</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>退货中</string>
		<key>navId</key>
		<integer>141</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>售后已完成</string>
		<key>navId</key>
		<integer>142</integer>
		<key>navPid</key>
		<integer>120</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>都未报价</string>
		<key>navId</key>
		<integer>162</integer>
		<key>navPid</key>
		<integer>161</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>未报价</string>
		<key>navId</key>
		<integer>163</integer>
		<key>navPid</key>
		<integer>161</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>已报价</string>
		<key>navId</key>
		<integer>164</integer>
		<key>navPid</key>
		<integer>161</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>议价未反馈</string>
		<key>navId</key>
		<integer>165</integer>
		<key>navPid</key>
		<integer>161</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>iconurl1</key>
		<string></string>
		<key>iconurl2</key>
		<string></string>
		<key>isLast</key>
		<integer>1</integer>
		<key>name</key>
		<string>议价已反馈</string>
		<key>navId</key>
		<integer>166</integer>
		<key>navPid</key>
		<integer>161</integer>
		<key>select</key>
		<integer>0</integer>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
